.dashboard-container {
  .jumbotron {
    background-color: #010101;
    color:#fff;
    padding: 0;
    border-radius: 0;
    .welcome-user {
      max-width: 1600px;
      min-height: 900px;
      margin: 0 auto;
      background-image: url("/assets/focal-point.png");
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: right center;
      display: flex;
      align-items: center;
      .user-name{
        margin-bottom: 25px;
      }
      .app-description {
        opacity: 0.6;
        max-width: 500px;
        font-style: italic;
        margin-bottom: 50px;
      }
      .browsing-btn{
        padding: 10px 30px;
        border-radius: 30px;
        border: 0;
        color: #fff;
        background-color: #a51c3e;
      }  
    }  
  }
  .book-list-container {
    .book-list-item-container {
      a {
        &:hover {
          color: unset;
          text-decoration: unset;
        }
      }

      .book-list-item-content {
        border: solid 1px;
        border-radius: 0.5rem;
        height: 20rem;
      }
    }
  }
}